In [2]:
import json, os
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##Business Dataset

In [4]:
bus = pd.read_json('/content/drive/MyDrive/Colab Notebooks/project/3rd project_recommender_system/original json data/yelp_academic_dataset_business.json',
                          lines=True)
bus.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [13]:
bus['state'].value_counts()['PA']

34039

In [6]:
bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

In [ ]:
bus.dropna(inplace=True)
bus = bus[bus['categories'].str.contains('Restaurant.*')]
bus.shape

(44692, 14)

In [ ]:
bus.to_csv('/content/drive/MyDrive/Colab Notebooks/project/3rd project_recommender_system/data_preparation/business.csv', index=False)

In [16]:
# Determine the maximum number of unique values in a cell
max_unique_values = 10

# Create new columns for each unique value
for i in range(max_unique_values):
    bus[f"value_{i}"] = False

# Split the values in the original column and set the corresponding boolean values in the new columns
for i, row in bus.iterrows():
    if row['categories'] is None:
      continue
    values = row["categories"].split(",")
    for j in range(min(len(values), max_unique_values)):
        bus.loc[i, f"value_{j}"] = True

# Remove the original column
# bus = bus.drop("categories", axis=1)

In [17]:
display(bus.info(), bus.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
 14  value_0       150346 non-null  bool
 15  value_1       150346 non-null  bool
 16  value_2       150346 non-null  bool
 17  value_3       150346 non-null  bool
 18  value_4       150346 non-null  bool
 19  value_5       150346 non-null  bool
 20  value_6       150346 non-null  bool
 21  value_7       150346 non-null  bool
 22  value_8       150346 non-null  bool
 23  value_9       150346 non-null  bool
dtypes: bool(10), float64(3), int64(2), object(9)
memory usage: 17.5+ MB

None

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,value_0,value_1,value_2,value_3,value_4,value_5,value_6,value_7,value_8,value_9
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,...,True,True,True,True,True,True,False,False,False,False
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,...,True,True,True,True,True,False,False,False,False,False
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,...,True,True,True,True,True,True,False,False,False,False
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,True,True,True,True,True,False,False,False,False,False
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,...,True,True,True,False,False,False,False,False,False,False

## Review Dataset

In [ ]:
reviews = pd.read_json("/content/drive/MyDrive/Colab Notebooks/project/3rd project_recommender_system/original json data/yelp_academic_dataset_review.json",
                       lines=True, chunksize=100000)
# read the data 
for review in reviews:
    rv = review
    break

display(rv.head(2))

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18

In [ ]:
rv.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [ ]:
rv['text'] = rv['text'].str.lower()
rv.head(5)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"if you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,i've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,family diner. had the buffet. eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"wow! yummy, different, delicious. our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [ ]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, SnowballStemmer
import string
import re, os

# Download NLTK data
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

stemmer = SnowballStemmer('english')

def preprocess(text):
    # Tokenize the text
    tokens = nltk.word_tokenize(text)

    # Remove stopwords, punctuation marks, and non-alphanumeric characters, and stem the remaining words
    tokens = [stemmer.stem(re.sub(r'[^a-zA-Z]', '', token.lower())) for token in tokens if not token.lower() in nltk.corpus.stopwords.words('english') and not token.lower() in string.punctuation]

    return tokens

# Tokenize and stem the reviews
rv['review_tokens'] = rv['text'].apply(preprocess)

# Create a vocabulary of unique words
vocabulary = set()
for tokens in rv['review_tokens']:
    vocabulary.update(tokens)
vocabulary = sorted(list(vocabulary))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

In [ ]:
rv[['text','review_tokens']]

,text,review_tokens
0,"If you decide to eat here, just be aware it is...","[decid, eat, awar, go, take, , hour, begin, en..."
1,I've taken a lot of spin classes over the year...,"[ve, taken, lot, spin, class, year, noth, comp..."
2,Family diner. Had the buffet. Eclectic assortm...,"[famili, diner, buffet, eclect, assort, larg, ..."
3,"Wow! Yummy, different, delicious. Our favo...","[wow, yummi, differ, delici, favorit, lamb, cu..."
4,Cute interior and owner (?) gave us tour of up...,"[cute, interior, owner, gave, us, tour, upcom,..."
...,...,...
99995,Came here for lunch with a group. They were bu...,"[came, lunch, group, busi, still, room, us, se..."
99996,The equipment is so old and so felty! I just u...,"[equip, old, felti, upgrad, multi, club, membe..."
99997,This is one of my favorite Mexican restaurants...,"[one, favorit, mexican, restaur, authent, menu..."
99998,Came here for brunch - had an omlette ($19 + t...,"[came, brunch, omlett, , tax, tip, , food, way..."
99999,Came in for my 5-6 month prophy and saw Kara -...,"[came, , month, prophi, saw, kara, new, hygeni..."

In [ ]:
rv.to_csv('/content/drive/MyDrive/Colab Notebooks/project/3rd project_recommender_system/data_preparation/review.csv', index=False)

## User Dataset

In [ ]:
users = pd.read_json("/content/drive/MyDrive/Colab Notebooks/project/3rd project_recommender_system/original json data/yelp_academic_dataset_user.json",
                       lines=True)

# read the data 
for user in users:
    user = user
    break

user.head(5)

In [ ]:
user.to_csv('/content/drive/MyDrive/Colab Notebooks/project/3rd project_recommender_system/data_preparation/user.csv', index=False)